table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 5px;
}
.form_heroes{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 10px;
    margin-bottom: 20px;
}
.form_heroes label{
    margin-bottom: 10px;
}
