table{
    border-collapse: collapse;
    border: 1px solid black;
    width: 450px;
}
.thead{
    background: white;
}
.tbody:nth-child(2n-1){
    background: lightblue;
}
th,
td{
    border: 1px solid black;
    padding: 10px;
    width: 150px;
}
.operation{
    text-align: left;
}
td{
    text-align: center;
}